.img {
  border-radius: 20px;
}

.title {
  font-size: var(--spacing-large);
  font-weight: 200;

  span {
    font-weight: 200;
    font-size: var(--spacing-large);
    color: var(--primary-color);
  }
}

.subtitle {
  font-size: var(--font-size-base);
  font-weight: 200;
}

.descrip {
  font-size: var(--font-size-lg);
  font-weight: 200;
  padding-bottom: 10px;
}

.img {
  display: flex;
  justify-content: end;
  img {
    width: 80%;
    border-radius: 24px;
  }
}

@media (max-width: 992px) {
  .title {
    font-size: 28px;

    span {
      font-size: 28px;
    }
  }

  .subtitle {
    font-size: 14px;
  }

  .descrip {
    font-size: 20px;
  }

  .img {
    img {
      width: 75%;
    }
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 24px;

    span {
      font-size: 24px;
    }
  }

  .descrip {
    font-size: 18px;
  }

  .img {
    justify-content: center;
    img {
      width: 70%;
    }
  }
}

@media (max-width: 576px) {
  .title {
    font-size: 20px;

    span {
      font-size: 20px;
    }
  }

  .subtitle {
    font-size: 12px;
  }

  .descrip {
    font-size: 14px;
  }

  .img {
    img {
      width: 65%;
    }
  }
}

@media (max-width: 400px) {
  .wrap {
    margin-bottom: 50px;
  }

  .title {
    font-size: 18px;

    span {
      font-size: 18px;
    }
  }

  .img {
    img {
      width: 100%;
    }
  }
}
