.carousel {
  :global {
    .slick-arrow,
    .slick-prev,
    .slick-next {
      background-color: white;
      opacity: 1;
      padding: 15px;
      border-radius: 50%;
      box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.59);
    }

    .slick-prev::after {
      top: 9px;
      left: 10px;
      color: #0072bc;
    }

    .slick-next::after {
      top: 9px;
      left: 8px;
      color: #0072bc;
    }
  }
}

.main {
  section {
    // background-color: white;
  }
}

.yrs,
.models {
  margin-bottom: 40px;
  position: relative;

  img {
    border-radius: 30px;
  }
}

.yrs_info,
.models_info {
  position: absolute;
  bottom: 10px;
  left: 40px;
  max-width: 600px;

  p {
    font-size: 72px;
    color: white;
  }

  span {
    font-size: 20px;
    font-weight: 200;
    color: #a1a1a1;
  }
}

.img {
  position: relative;

  img {
    border-radius: 20px;
  }
}

.play_wrap {
  cursor: pointer;

  .play_btn img {
    transition: transform 0.3s;
  }

  &:hover .play_btn img {
    transform: scale(1.05);
  }
}

.play_btn {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.play_text {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(12px);
  background: rgba(45, 66, 183, 0.2);
  width: 250px;
  height: 120px;
  padding: 20px;
  display: flex;
  justify-content: end;
  align-items: center;
  border-radius: 20px;
  z-index: 1;

  span {
    color: white;
    font-size: 18px;
    max-width: 100px;
    font-weight: 200;
  }
}

.info {
  p {
    font-size: 22px;
    font-weight: 200;
  }
}

.buy {
  color: #0072bc;
  display: flex;
  justify-content: end;
  border: 1px solid #0072bc;
  justify-content: center;
  margin: 15px;
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;

  span {
    padding: 10px 15px;
    text-transform: uppercase;
  }
  &:hover {
    color: white;
    background-color: #0072bc;
  }
}

@media (max-width: 1200px) {
}

@media (max-width: 992px) {
  .yrs_info,
  .models_info {
    p {
      font-size: 64px;
    }
  }

  .info {
    padding-top: 10px;
    p {
      font-size: 18px;
    }
  }
}

@media (max-width: 768px) {
  .yrs_info,
  .models_info {
    p {
      font-size: 52px;
    }
  }
}

@media (max-width: 576px) {
  .yrs_info {
    p {
      font-size: 28px;
    }
  }
  .models_info {
    p {
      font-size: 32px;
    }
  }

  .info {
    p {
      font-size: 16px;
    }
  }
}

@media (max-width: 400px) {
  .yrs {
    display: none;
  }
  .models_info {
    p {
      font-size: 26px;
    }
  }
}
