.img {
  height: 600px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 10px;
  }
}

@media (max-width: 992px) {
  .img {
    height: 500px;
  }
}

@media (max-width: 768px) {
  .img {
    height: 450px;
  }

  :global {
    .ant-modal-content {
      padding: 20px;
    }
  }
}

@media (max-width: 576px) {
  .img {
    height: 400px;
  }

  :global {
    .ant-modal-content {
      padding: 16px;
    }

    .ant-modal-title {
      font-size: 16px;
    }
  }
}

@media (max-width: 400px) {
  .img {
    height: 350px;
  }

  :global {
    .ant-modal-content {
      padding: 12px;
    }

    .ant-modal-title {
      font-size: 14px;
    }
  }
}
