@mixin genefal_title {
  font-size: var(--font-size-38);
  font-weight: 200;
}

.wrap {
  min-height: 350px;
  overflow: hidden;
}

.subtitle {
  @include genefal_title;
}

.title {
  @include genefal_title;
  color: var(--primary-color);
}

.descrip {
  font-size: var(--font-size-sm);
  font-weight: 200;
  color: var(--grey-color);
}

.price {
  font-size: var(--font-size-sm);
  font-weight: 200;
}

.bg_img {
  width: 60%;
  top: -30%;
  right: 0;
  position: absolute;
}

.item_img {
  width: 50%;
  top: -60%;
  right: 10%;
  position: absolute;
}

@media (max-width: 1200px) {
  .bg_img {
    width: 70%;
    top: -10%;
    right: -20%;
  }

  .item_img {
    width: 60%;
    top: -55%;
    right: 0;
  }
}

@media (max-width: 992px) {
  .wrap {
    min-height: 300px;
  }

  .subtitle,
  .title {
    font-size: 32px;
  }

  .descrip {
    font-size: 16px;
  }

  .bg_img {
    width: 80%;
    top: 0;
    right: -30%;
  }

  .item_img {
    width: 70%;
    top: -40%;
    right: -10%;
  }
}

@media (max-width: 768px) {
  .wrap {
    min-height: 250px;
  }

  .subtitle,
  .title {
    font-size: 28px;
  }

  .descrip {
    font-size: 14px;
  }

  .bg_img {
    width: 90%;
    top: 10%;
    right: -40%;
  }

  .item_img {
    width: 80%;
    top: -30%;
    right: -20%;
  }
}

@media (max-width: 576px) {
  .wrap {
    min-height: 200px;
  }

  .subtitle,
  .title {
    font-size: 24px;
  }

  .descrip {
    font-size: 13px;
  }

  .bg_img {
    width: 100%;
    top: 20%;
    right: -50%;
  }

  .item_img {
    width: 90%;
    top: -40%;
    right: -15%;
  }
}

@media (max-width: 400px) {
  .wrap {
    min-height: 180px;
  }

  .subtitle,
  .title {
    font-size: 20px;
  }

  .descrip {
    font-size: 12px;
  }

  .item_img {
    width: 90%;
    top: -35%;
    right: -15%;
  }
}
