.card {
  font-size: 13px;
  padding: 10px 20px;
}

.img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.about_product {
  max-width: 400px;
}

.product_info {
  line-height: 20px;
  color: #000;
}

.btns {
  button {
    padding: 0 10px;
  }
}
