.carousel {
  max-height: 350px;
  width: 100%;

  img {
    width: 100%;
    border-radius: 10px;
    height: 320px;
    object-fit: cover;
    object-position: left center;
  }

  :global {
    .slick-arrow,
    .slick-prev,
    .slick-next {
      background-color: white;
      opacity: 1;
      padding: 15px;
      border-radius: 50%;
      box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.59);
    }

    .slick-prev::after {
      top: 9px;
      left: 10px;
      color: #0072bc;
    }

    .slick-next::after {
      top: 9px;
      left: 8px;
      color: #0072bc;
    }
  }
}
