.wrap {
  gap: 40px;
  align-items: center;
}

.img {
  border-radius: 24px;
}

.title {
  font-size: var(--spacing-large);
  font-weight: 200;
  color: var(--primary-color);
  line-height: 1;

  span {
    font-weight: 200;
    font-size: var(--spacing-large);
    color: var(--black-color);
  }
}

.descrip {
  font-size: var(--font-size-base);
  font-weight: 200;
}

@media (max-width: 992px) {
  .wrap {
    gap: 30px;
  }

  .title {
    font-size: 28px;

    span {
      font-size: 28px;
    }
  }

  .descrip {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  .wrap {
    gap: 24px;
    flex-direction: column;
  }

  .title {
    font-size: 24px;

    span {
      font-size: 24px;
    }
  }

  .descrip {
    font-size: 16px;
  }

  .img {
    img {
      width: 100%;
    }
  }
}

@media (max-width: 576px) {
  .wrap {
    gap: 20px;
  }

  .title {
    font-size: 20px;

    span {
      font-size: 20px;
    }
  }

  .descrip {
    font-size: 14px;
  }
}

@media (max-width: 400px) {
  .wrap {
    gap: 16px;
  }

  .title {
    font-size: 18px;

    span {
      font-size: 18px;
    }
  }
}
