.wrap {
  padding: 40px;
  background-color: var(--white-color);

  span {
    font-size: var(--font-size-sm);
  }
}

.btn {
  font-size: var(--font-size-sm);
  color: var(--white-color);

  svg {
    color: var(--white-color);
  }
}

@media (max-width: 992px) {
  .wrap {
    padding: 30px;
  }

  // span {
  //   font-size: 16px;
  // }

  .btn {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .wrap {
    padding: 24px;
  }

  .btn {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .wrap {
    padding: 20px;
  }

  .btn {
    font-size: 13px;
  }
}

@media (max-width: 400px) {
  .wrap {
  }

  span {
    font-size: 12px;
  }

  .btn {
    font-size: 12px;
  }
}
