.btn {
  color: white;
  background: #0c436c;
  background: linear-gradient(
    271deg,
    rgba(12, 67, 108, 1) 0%,
    rgba(15, 96, 151, 1) 50%,
    rgba(20, 122, 188, 1) 100%
  );
  padding: 8px 25px;
  font-size: 13px;
  border-radius: 3px;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;

  span {
    font-weight: 700;
  }

  svg {
    font-size: 28px;
    padding-right: 10px;
  }
}

.btn:hover {
  background: #0c436c;
  background: linear-gradient(
    90deg,
    rgba(12, 67, 108, 1) 0%,
    rgba(15, 96, 151, 1) 50%,
    rgba(20, 122, 188, 1) 100%
  );
  color: white;
}

@media (max-width: 768px) {
  .btn {
    padding: 6px 20px;
    font-size: 12px;

    svg {
      font-size: 24px;
      padding-right: 8px;
    }
  }
}

@media (max-width: 576px) {
  .btn {
    padding: 5px 16px;
    font-size: 11px;

    svg {
      font-size: 20px;
      padding-right: 6px;
    }

    span {
      font-size: 11px;
    }
  }
}

@media (max-width: 400px) {
  .btn {
    padding: 4px 12px;
    font-size: 10px;

    svg {
      font-size: 18px;
      padding-right: 5px;
    }

    span {
      font-size: 10px;
    }
  }
}
