@mixin btn_gen {
  width: 300px;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid transparent;
  cursor: pointer;
  z-index: 12;

  button {
    border-radius: 12px;
    width: 35px;
    height: 35px;
  }

  span {
    font-size: var(--font-size-sm);
    font-weight: 200;
  }
}

.wrap {
  min-height: 430px;
  overflow: hidden;
}

.title {
  font-size: var(--spacing-large);
  font-weight: 200;
  width: 50%;
  line-height: 1.2;
}

.descrip {
  font-size: var(--font-size-sm);
  font-weight: 200;
  color: var(--grey-color);
}

.white_btn {
  @include btn_gen;

  button {
    border: 1px solid var(--grey-color);
  }
}

.white_btn_active {
  @include btn_gen;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);

  button {
    border: 1px solid var(--primary-color);
  }
}

.black_btn {
  @include btn_gen;

  button {
    border: 1px solid var(--black-color);
    background-color: var(--black-color);
  }
}

.black_btn_active {
  @include btn_gen;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);

  button {
    border: 1px solid var(--black-color);
    background-color: var(--black-color);
  }
}

.bg_img {
  width: 60%;
  top: -30%;
  right: 0;
  position: absolute;
  z-index: 2;
}

.item_img {
  width: 40%;
  top: 0;
  right: 0;
  position: absolute;
  z-index: 1;
}

@media (max-width: 1200px) {
  .item_img {
    width: 40%;
    top: 0;
    right: 0;
  }
}

@media (max-width: 992px) {
  .wrap {
    min-height: 350px;
  }

  .title {
    font-size: 28px;
    width: 60%;
  }

  .white_btn,
  .white_btn_active,
  .black_btn,
  .black_btn_active {
    width: 250px;
    padding: 8px 16px;

    button {
      width: 30px;
      height: 30px;
    }

    span {
      font-size: 16px;
    }
  }

  .bg_img {
    width: 70%;
    top: -20%;
  }

  .item_img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .wrap {
    min-height: 300px;
  }

  .title {
    font-size: 24px;
    width: 70%;
  }

  .descrip {
    font-size: 16px;
  }

  .white_btn,
  .white_btn_active,
  .black_btn,
  .black_btn_active {
    width: 200px;
    padding: 6px 12px;

    button {
      width: 28px;
      height: 28px;
    }

    span {
      font-size: 14px;
    }
  }

  .bg_img {
    width: 80%;
    top: -10%;
  }

  .item_img {
    width: 60%;
  }
}

@media (max-width: 576px) {
  .wrap {
    min-height: 250px;
  }

  .title {
    font-size: 20px;
    width: 80%;
  }

  .descrip {
    font-size: 14px;
  }

  .white_btn,
  .white_btn_active,
  .black_btn,
  .black_btn_active {
    width: 150px;
    padding: 5px 10px;

    button {
      width: 25px;
      height: 25px;
    }

    span {
      font-size: 13px;
    }
  }

  .bg_img {
    width: 90%;
    top: 0;
  }

  .item_img {
    width: 70%;
    right: -20%;
  }
}

@media (max-width: 400px) {
  .wrap {
    min-height: 200px;
  }

  .title {
    font-size: 18px;
    width: 90%;
  }

  .descrip {
    font-size: 12px;
  }

  .white_btn,
  .white_btn_active,
  .black_btn,
  .black_btn_active {
    width: 120px;
    padding: 4px 8px;

    button {
      width: 22px;
      height: 22px;
    }

    span {
      font-size: 12px;
    }
  }

  .bg_img {
    width: 100%;
  }

  .item_img {
    width: 80%;
  }
}
