.wrap_item {
  background-color: white;
  border-radius: 14px;
  padding: 20px;

  :global {
    .ant-divider {
      background-color: #dee0e3;
      margin: 10px 0;
    }
  }
}

.wrap {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 10px;
}

.btn {
  border: 1px solid #205375;
  color: white;
  border-radius: 4px;
  padding: 10px;
  transition: 0.3s;
  background-color: #205375;

  &:hover {
    background-color: white;
    color: #205375;
  }
}

@media (max-width: 992px) {
  .wrap {
    grid-template-columns: 2fr 1fr;
  }
}

@media (max-width: 768px) {
  .wrap {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .wrap_item {
    padding: 16px;
  }
}

@media (max-width: 576px) {
  .wrap_item {
    padding: 12px;

    :global {
      .ant-typography {
        font-size: 18px !important;
      }
    }
  }

  .btn {
    padding: 8px;
    font-size: 14px;
  }
}

@media (max-width: 400px) {
  .wrap_item {
    padding: 10px;

    :global {
      .ant-typography {
        font-size: 16px !important;
      }

      span {
        font-size: 14px;
      }
    }
  }
}
