.wrap {
  background: white;
  color: #147abc;
  position: fixed;
  width: 100%;
  z-index: 1000;

  svg {
    color: #147abc;
  }
}

.header {
  padding: 20px 50px;
  position: relative;
  width: 100%;
}

.logo {
  position: absolute;
  width: 60px;
  top: 2px;
  z-index: 1100;
}

.search {
  width: 600px;
  :global {
    .ant-input {
      font-size: 48px !important;
    }
  }
}



.link {
  position: relative;
  color: #147abc;
  line-height: 1.5;
  text-decoration: none;
  transition: color 0.3s ease;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: #147abc;
    transition: width 0.3s ease;
  }

  &:hover {
    color: #147abc;

    &::after {
      width: 100%;
    }
  }
}

.active_link {
  position: relative;
  color: #147abc !important;
  text-decoration: none;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: #147abc;
  }
}
