@mixin series_general {
  font-size: 32px;
  font-weight: 200;
}

.series_name {
  @include series_general;
}

.series {
  @include series_general;
  color: #147abc;
}

.descrip,
.price {
  font-size: 18px;
  width: 300px;
  font-weight: 200;
}

.card {
  cursor: pointer;
  position: relative;
  background-color: white;
  border-radius: 36px;
  padding: 20px 30px;
  width: 100%;
  height: 450px;
  overflow: hidden;
  z-index: 1;
  transition: 0.6s;

  &:hover {
    padding: 45px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

    .fon {
      left: 25px;
    }

    .btn {
      background-color: #0f6390;

      svg {
        transform: rotate(0) !important;
      }
    }
  }
}

.btn {
  background-color: #147abc;
  color: white;
  padding: 15px;
  border-radius: 50%;
  transition: 0.5s;

  svg {
    font-size: 24px;
    transition: 0.5s;
  }
}

.fon {
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 0.5s;
  z-index: -2;
}

.item_img {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;

  img {
    width: 400px;
  }
}
