@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* цвета */
  --primary-color: #147abc;
  --white-color: #ffffff;
  --grey-color: #aaacb3;
  --black-color: #000000;
  --fon-color: #c1e1e5;

  /* размеры */
  --font-size-sm: 18px;
  --font-size-base: 16px;
  --font-size-lg: 24px;
  --spacing-large: 32px;
  --font-size-38: 38px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
}

body {
  background-color: #f9f9f9;
}

.gen_wrap {
  background-color: var(--white-color);
  padding: 60px;
  border-radius: 24px;
  position: relative;
}

.container {
  margin: 0 auto;
  width: 100%;
  padding: 0 20px;
  max-width: 1465px;
}

a {
  text-decoration: none;
  color: #000000;
}

.header_h {
  padding-top: 150px;
}

@media (max-width: 768px) {
  .container {
    padding: 0 16px;
  }

  .header_h {
    padding-top: 120px;
  }

  .gen_wrap {
    padding: 40px 24px;
    border-radius: 16px;
  }
}

@media (max-width: 576px) {
  .container {
    padding: 0 12px;
  }

  .header_h {
    padding-top: 90px;
  }

  .gen_wrap {
    padding: 30px 16px;
    border-radius: 12px;
  }
}

@media (max-width: 400px) {
  .container {
    padding: 0 8px;
  }

  .gen_wrap {
    padding: 24px 12px;
    border-radius: 10px;
  }
}

.screen_page {
  flex: 1;
  display: flex;
  flex-direction: column;
}

ul li {
  list-style: disc inside;
}

ol li {
  list-style: decimal inside;
}
