.carousel {
  :global {
    .slick-arrow,
    .slick-prev,
    .slick-next {
      background-color: white;
      opacity: 1;
      padding: 15px;
      border-radius: 50%;
      box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.59);
    }

    .slick-prev::after {
      top: 9px;
      left: 10px;
      color: #0072bc;
    }

    .slick-next::after {
      top: 9px;
      left: 8px;
      color: #0072bc;
    }
  }
}

.main {
  section {
    // background-color: white;
  }
}

.yrs,
.models {
  margin-bottom: 40px;
  position: relative;

  img {
    border-radius: 40px;
  }
}

.yrs_info,
.models_info {
  position: absolute;
  bottom: 10px;
  left: 40px;
  max-width: 600px;

  p {
    font-size: 72px;
    color: white;
  }

  span {
    font-size: 20px;
    font-weight: 200;
    color: #a1a1a1;
  }
}

.img {
  position: relative;

  img {
    border-radius: 20px;
    width: 100%;
  }
}

.play_wrap {
  cursor: pointer;

  .play_btn img {
    transition: transform 0.3s;
  }

  &:hover .play_btn img {
    transform: scale(1.05);
  }
}

.play_btn {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.play_text {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(12px);
  background: rgba(45, 66, 183, 0.2);
  width: 250px;
  height: 120px;
  padding: 20px;
  display: flex;
  justify-content: end;
  align-items: center;
  border-radius: 20px;
  z-index: 1;

  span {
    color: white;
    font-size: 18px;
    max-width: 100px;
    font-weight: 200;
  }
}

.info {
  p {
    font-size: 22px;
    font-weight: 200;
  }
}

.buy {
  color: #0072bc;
  display: flex;
  justify-content: end;
  border: 1px solid #0072bc;
  justify-content: center;
  margin: 15px;
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;

  span {
    padding: 10px 15px;
    text-transform: uppercase;
  }
  &:hover {
    color: white;
    background-color: #0072bc;
  }
}

.aboutUsPage {
  padding: 32px 24px;

  border-radius: 16px;

  font-family: "Segoe UI", "Arial", sans-serif;
  color: #222;
}

.title {
  margin-bottom: 24px;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 200;
  color: #147abc;
}

.sectionTitle {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 12px;
  color: #147abc;
}

.paragraph {
  font-size: 1.08rem;
  line-height: 1.7;
  margin-bottom: 14px;
}

.list {
  margin: 0 0 18px 18px;
  padding: 0;
  list-style: disc inside;
  font-size: 1.05rem;
  line-height: 1.6;
}

.more {
  transition: 0.3s;
  cursor: pointer;
  color: #147abc;

  &:hover {
    color: #147abc;
  }
}

// .prod {
//   margin-bottom: 40px;
//   position: relative;
//   width: 100%;

//   img {
//     border-radius: 40px;
//     height: 320px;
//     width: 100%;
//     object-fit: cover;
//   }
// }

.prod_info {
  padding: 20px;
  border-radius: 20px;

  p {
    font-size: 2.2rem;
    font-weight: 200;
    color: #147abc;
    cursor: pointer;
  }
}
